.loginImg img {
  height: 80px;
}
.input-div >.input-field {
  position: relative;
}
.input-div > .input-icon {
  position: absolute;
}
.title{
  font-weight:bold;
  font-size:40px;
  font-family: 'Kanit', sans-serif;
}
.login-form>form{
	width: 360px;
}
.input-filed > input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
	background:none;
  background-color: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-family: "poppins", sans-serif;
}
.input-icon i{
font-size: 30px;
color: rgb(167, 162, 162);
}
.underLine{
	margin-top: 10px;
	width: 360px;
    height: 2px;
    background-color: #c5c5c5;
    border-radius: 500px;
}
.btn{
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #6C63FF;
	/* background-image: linear-gradient(to right, #6C63FF, #6C63FF, #6C63FF); */
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
    font-weight: 550;
    letter-spacing: 2px;
}
.forget{
  font-size: 15px;
  margin-left: 50px;
}
.forget a{
  color: #f66b6b;
  font-weight: bold;
}



@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
