.issueTable{
  color:azure
}
.tableHead tr th {
  padding-right:10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.tableBody tr td {
  /* padding-right:60px; */
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.seeMoreButton{
  background-color:#424aa1;
  color: #ffffff;
 padding:6px;
 border:none;
font-weight: 600;
text-decoration: none;
}
.seeMoreButton:hover{
  color:#fb9a39;
  transition: .4s;
}