.bookDetails {
  background-color: #e7f1ff;
}
.title {
  height: 100px;
  width: 100%;
  background-color: #2f425e;
  color: #fff;
  font-family: "Codystar", cursive;
  font-family: "Kalam", cursive;
  font-family: "Salsa", cursive;
  color: #fb9b37;
}
span {
  color: #7987e5;
}
.infoTitle {
  color: #7987e5;
  font-family: "Codystar", cursive;
  font-family: "Kalam", cursive;
  font-family: "Salsa", cursive;
}

.underLine {
  height: 7px;
  width: 180px;
  background-color: #fb9b37;
  margin: auto;
  border-radius: 5px;
}
.bookInfo {
  margin-left: 200px;
  font-family: "Codystar", cursive;
  font-family: "Kalam", cursive;
  font-family: "Salsa", cursive;
}
.bookInfo h3 {
  color: #fb9b37;
}
.updateBtn{
  height:40px;
  width:120px;
  border-radius:5px;
  margin-left: 200px;
  background-color: #fb9b37;
  font-family: "Righteous",cursive;
  text-transform: capitalize;
}
.deletedBtn{
  height:40px;
  width:120px;
  border-radius:5px;
  margin-left: 30px;
  background-color: #d32121;
  font-family: "Righteous",cursive;
  text-transform: capitalize;
}
/* .bookInfo h3 span{
  color:green;
} */
